body{
    color: blue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 30em;
    font-size: 18pt;
}
p{
    color: chartreuse;
}
a{
    text-decoration: none;

}
ul{
    display: flex;
    list-style: none;
}
.itemMenu{
    margin: 10px;
    font-weight: 900;
}
.ativo{
    color: orange;
    font-weight: 900;
}