*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    background-image: url(imagens/fundo-ex-32.jpg);
    margin: 10px;
}
.body-opacidade{
    background-color: rgba(255, 255, 255, 0.9);
}
ul{
    display: flex;
    justify-content: center;
}
li{
    margin: 20px;
    font-size: 20pt;
}

#joy{
    height: 427px;
}
.imagens-home{

}
h1{
    font-size: 50pt;
    margin-bottom: 30px;
}
h2{
    font-size: 30pt;
    margin-top: 70px;
}
p{
    width: 50%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25pt;
    margin-top: 20px;
    text-indent: 1em;
}
.nao-tabela{
    color: white;
    background-color: red;
}
.sim-tabela{
    color: rgb(0, 0, 0);
    background-color: #00ffff;
}
th{
    color: white;
    background-color: darkblue;
}
tr, td{
    height: 50px;
    width: 250px;
    text-align: center;
    padding: 10px;
}
.nome-da-dieta{
    color: white;
    background-color: darkblue;
}