

.greenLine{
    height: 4px;
    width: 100px;
    background-color: #ACF39D;
    position: relative;
    margin: 16px;
}

#topOfAbout{
    background-image: url(../imagens/quem-somos-leve.jpg);
    background-size: cover;
    background-position: center;
    padding: 140px 0;
    position: relative;
}

#topOfAbout h1{
    position: relative;
    padding-left: 16px;
}

#overlayPhotoAbout{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#explainAbout{
    margin-top: 40px;
}
#explainAbout p{
    border-left: solid 3px #ACF39D;
    margin-top: 16px;
    margin-left: 8px;
}


.imgMain{
    padding: 0 8px;
    margin-top: 32px;
}
.txtMain{
    padding: 0 8px;
    margin-top: 16px;
}

#overlayPhotoContact{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 768px) {

    #topOfAbout{
        padding: 15% 0;
    }

    .content{
        margin-top: 0;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #explainAbout{
        align-items: center;
        justify-content: center;
    }
    
}