p {
    margin-top: 16px;
}

ul {
    margin-top: 16px;
}

#cardsOfServices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardsOfServices img {
    border-radius: 5px;
}

#cardsOfServices a {
    color: #ACF39D;
}

#cardsOfServices i {
    padding-left: 8px;
}

.containerOfCards {
    width: 90%;
    margin-top: 40px;
    padding: 16px;
    border-radius: 5px;
    background-color: #070d13;
}

